{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offer list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Opened</th>
                <th>Accepted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td><a href="{{ path('offer_show', { 'id': offer.id }) }}">{{ offer.id }}</a></td>
                <td>{% if offer.timestamp %}{{ offer.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if offer.opened %}Yes{% else %}No{% endif %}</td>
                <td>{% if offer.accepted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offer_show', { 'id': offer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offer_edit', { 'id': offer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offer_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
